:root {
	--amarillo: #e4b302;
	--amarillo-l: #e4b30277;
	--celeste: #158fa2;
	--celeste-l: #158fa277;
	--naranja: #de4f3a;
	--bordo: #722731;
	--rosa: #bd1b43;
	--negro: #1f1f1f;
	--sombra-negra: #1f1f1f3f;
	--blanco: #efefef;
	--blanco-l: #777;
	--sombra-blanca: #efefef3f;
	font-size: 12px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
}

body {
	background: var(--blanco);
	font-family: "Indie Flower", system-ui, sans-serif;
	min-width: 320px;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	color: var(--negro);
}

header {
  background: var(--amarillo);
  position: relative;
	box-shadow: inset 5px -5px 5px var(--sombra-blanca),
							inset -5px 0 5px var(--sombra-blanca);
	padding: 1rem .5rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	gap: 1rem;
	overflow: hidden;
}



header > .top-container {
	display: flex;
	justify-content: space-between;
}

header > h1 {
	align-self: center;
	font-size: 1.8rem;
	text-shadow: 0 0 2px var(--negro);
}

header > div > .icons {
	justify-self: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icons .light-mode {
	box-shadow: inset -2px -2px 2px var(--sombra-negra),
							inset 2px 2px 2px var(--sombra-negra);
							border-radius: 3px;
}

.icons .dark-mode {
	box-shadow: inset -2px -2px 2px var(--sombra-blanca),
							inset 2px 2px 2px var(--sombra-blanca);
							border-radius: 3px;
}

.logo {
	width: 60px;
	border-radius: 0;
	border: 1px solid var(--celeste);
	box-shadow: 0 0 6px var(--celeste);
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-content: center;
	place-items: center;
	padding: 1rem;
	row-gap: 1rem;
	column-gap: .5rem;
	margin: 1rem 0;
}

article {
	width: 150px;
	border-radius: 10px;
	overflow: hidden;
	padding: 6px;	
	box-shadow: inset 3px 3px 3px var(--sombra-negra),
							inset -3px -3px 3px var(--sombra-negra);

}

article a img {
	border-radius: 6px;
}

svg {
	fill: var(--negro);
	width: 30px;
	height: 30px;
	margin: .3rem .9rem .3rem 0;
	cursor: pointer;	
	transition: scale ease .3s;
}
svg:hover {
	scale: 1.03;
}


.fasters {
	background: var(--celeste);
	box-shadow: inset 5px 5px 5px var(--sombra-blanca),
							inset -5px -5px 5px var(--sombra-blanca);
	margin: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	/*border: 1px solid var(--negro);*/
}

.faster-buttons {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.faster-buttons .indice {
	position: absolute;
	left: 0;
	font-size: 1.8rem;
	display: block;
	background: var(--blanco);
	box-shadow: inset -2px -2px 2px var(--sombra-negra),
							inset  2px  2px 2px var(--sombra-negra);
	padding: 0 6px;
	border-radius: 3px;
}

.faster-buttons .show-all {
	position: absolute;
	right: 0;
	background: var(--amarillo);
	box-shadow: inset -2px -2px 2px var(--sombra-negra),
							inset  2px  2px 2px var(--sombra-negra);
	padding: 3px 6px;
	border: none;
	font-size: 1.2rem;
	transition: scale .1s ease-in-out;
	cursor: pointer;
	border-radius: 3px;
}

.faster-buttons .show-all:hover {
	scale: 1.01;
}

.faster-buttons .show-all:active {
	scale: 1;
}

h2 {
	font-size: 1.5rem;
	padding-bottom: 6px;
	margin-bottom: 12px;
}

ul {
	list-style: none;
	padding: 6px 0 0 15px;
}

li {
	font-size: 1.2rem;
	padding: 9px;
	margin-bottom: 18px;
	background: var(--blanco);
	border-radius: 6px;
	/*border: ;*/
	text-shadow: 0 0 2px var(--negro);
	transition: scale .1s ease-in-out;
	overflow: hidden;
	position: relative;
	text-decoration: underline;
	text-underline-offset: 9px;
}


.book {
	cursor: pointer;
}

.book:hover {
	scale: 1.001;
}

.book:active {
	scale: 1;
}

.hide {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	position: absolute;
}

body.dark {
	background: var(--negro);
}

body.dark header {
	background: var(--amarillo-l);	
	box-shadow: inset 5px -5px 5px var(--sombra-negra),
							inset -5px 0 5px var(--sombra-negra);

}

body.dark svg {
	fill: var(--blanco-l);
}

body.dark .fasters {
	background: var(--celeste-l);
	box-shadow: inset 5px 5px 5px var(--sombra-negra),
							inset -5px -5px 5px var(--sombra-negra);

}

body.dark .fasters ul li {
	background: var(--blanco-l);
}

body.dark .show-all {
	background: var(--amarillo-l);
}

body.dark .indice {
	background: var(--blanco-l);
}

body.dark img {
	filter: brightness(50%);
}

@media screen and (min-width: 600px) {
	:root {
		font-size: 15px;
	}

	main {
		grid-template-columns: repeat(3, 1fr);
	}

	.logo {
		width: 70px;
	}

	svg {
		width: 40px;
		height: 40px;
	}

}

@media screen and (min-width: 900px) {
	:root {
		font-size: 18px;
	}

	main {
		grid-template-columns: repeat(4, 1fr);
	}

	.logo {
		width: 80px;
	}

	svg {
		width: 50px;
		height: 50px;
	}
}